:root {
    --main: #3B82F6;
    --active: #1E3A5F;
    --back: #F8FAFC;
    --cards: #FFFFFF;
    --graay: #eee;
    --main-text: #0F172A;
    --secondary-text: #64748B;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    cursor: pointer;
    font-weight: bold;
    background-color: var(--main);
    border: none;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--active)
}

input:focus {
    outline: none;
    border: none;
}