:root {
    --white: white;
    --dark: #111827;
    --gray: #6b7280;
    --background: #F5F7FA;
    --primary: #4e46e5;
    --btn-font-primary: #FFFFFF;
    --primary-light: #ecebff;    
    --bg-white: #ffffff;
    --green: #059669; 

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


/* For The LOGO ONLY!!!! */
h1 { 
    font-family: 'Manrope', sans-serif !important;
}

h2, h3, h4, h5 { 
    font-family: 'Manrope', sans-serif;
    color: var(--dark); 
}


body {
    min-height: 100vh;
}

/* Center Class */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* General Button Style */
[class^="btn"] {
    cursor: pointer;
    border: none;
    transition: 0.2s;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
}
[class^="btn"]:hover {
    background-color: var(--primary);
    transform: scale(0.95);
}

/* Primary Button Style */
.btn-primary {
    background-color: var(--primary);
    color: var(--btn-font-primary);
}

.btn-secondary:hover {
    color: var(--btn-font-primary);
}


input:focus {
    outline: none;
    border: none;
}


a {
    text-decoration: none !important;
}


