* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins;
}

body {
    background-color: var(--back);
}

header {
    width: 100%;
    height: 85px;
    position: relative;
}

h1 {
    color: var(--main-text);
    position: absolute;
    top: 10%;
    left: 5%;
}

.form-box {
    background-color: var(--card);
    width: 28%;
    height: 550px;
    padding: 15px;
    border-radius: 35px;
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.5);
}

.form-box h2, .form-box p {
    text-align: center;
    font-weight: bold;
}

.form-box p {
    color: var(--secondary-text);
    font-size: 15px;
}


.role-switch {
    background-color: var(--back);
    display: flex;
    justify-content: space-around;

    background-color: var(--graay);


    width: 70%;
    height: 40px;
    margin: 15px auto;
    
    border-radius: 50px;
}

.role-switch input {
    display: none;
}


.role-switch label {
    text-align: center;
    width: 40%;
    margin: 8px 8px 5px 8px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    color: var(--main-text);
    z-index: 1;
    transition: 0.5s;
}

.role-switch input:checked + label {
    color: var(--main-text);
    background-color: var(--back);
}



form {
    position: relative;
    height: 415px;
    margin-top: 15px;
}

.form-group {
    width: 90%;
    margin: 30px auto;
}

.form-group input {
    background-color: var(--graay);
    width: 100%;
    height: 45px;
    font-size: 16px;
    padding: 5px 15px;
    margin: 0 auto;
    border: none;
    border-bottom: 1px black solid;
    border-radius: 8px;
    transition: 0.5s ease;
}

.form-group label {
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 8px;
}

.form-group input:focus {
    border-bottom: 2px gray solid;
    transform: scale(1.02, 1.02);
    box-shadow: 1px 1px 2px 0px gray;
}





.submit {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%,0);

    width: 50%;
    height: 40px;

    border-radius: 20px;
}

.borha {

    display: flex;
    justify-content: space-between;

    width: 90%;
    margin: 0 auto;
}



.remember-me {
    display: inline-block;

}

.borha a {
    text-decoration: none;
    color: var(--secondary-text);

}

.borha a:hover {
    color: var(--active);
}



footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,0);
}